.leftSpacing {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left:2em;
    margin-top:1em;
}


.leftSpacing.closedChild {
    display: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100vh;
    justify-content: flex-start;
    align-items: flex-start;
    background-color:cornflowerblue;
    color: white;
}

.d-flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 2em;
}

.toggleSign {
    margin-left:5px;
    font-size: x-large;
    font-weight: bold;
    cursor: pointer;
}